---
version: "3.6"

services:
  file-service:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/file-service:latest
    build:
      dockerfile: docker/file-service/Dockerfile
    healthcheck:
      test: ["CMD", "/go/bin/zipper", "-hc"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 30s
    ports:
      - 8000:8000
    env_file:
      - docker-compose.env

  localstack:
    image: localstack/localstack:4.12.0
    environment:
      AWS_DEFAULT_REGION: eu-west-1
      HOSTNAME_EXTERNAL: localstack
      SERVICES: s3,dynamodb,secretsmanager
      DEBUG: 1
    ports:
      - 4566:4566
    volumes:
      - "./scripts/localstack:/etc/localstack/init/ready.d"

  swagger-ui:
    image: swaggerapi/swagger-ui
    environment:
      SWAGGER_JSON: /tmp/openapi.yml
    volumes:
      - ./docs/openapi/openapi.yml:/tmp/openapi.yml
    ports:
      - 8383:8080

  swagger-generate:
    image: quay.io/goswagger/swagger
    environment:
      GO111MODULE: "off"
      GOPATH: /go
    volumes:
      - ./:/go/src
    working_dir: /go/src
    entrypoint: ["swagger", "generate", "spec", "-o", "/go/src/docs/openapi/openapi.yml", "--scan-models"]

  test-runner:
    depends_on:
      - localstack
    build:
      dockerfile: docker/test-runner/Dockerfile
    command: gotestsum --junitfile test-results/unit-tests.xml -- ./... -coverprofile=test-results/test-coverage.txt
    env_file:
      - docker-compose.env
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.gocache:/go/pkg/mod

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

  go-lint:
    image: golangci/golangci-lint:v2.7.2
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v2.2.1:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
    image: securego/gosec:latest
    working_dir: /app
    volumes:
      - .:/app
    command: -exclude-dir=.gocache -exclude-generated -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...
